* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* background:black; */
}

:root {
    --apple-dark: rgb(20, 20, 20);
    --apple-dark-container: rgb(24,24,24);
    --apple-button: #006EDB;
    --dark: rgb(20, 20, 20);
    --yellow: rgb(253, 216, 53);
    --blue: rgb(98, 0, 234);

    --c1: rgb(38, 70, 83);
    /* --c1:rgb(1,1,50); */
    /* --c1: linear-gradient(-40deg,rgb(1,1,50),rgb(25,25,100)); */
    --c2: rgb(42, 157, 143);

    --left-color: var(--c1);
    --right-color: var(--c2);
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
}

nav {
    /* background-color: rgba(0, 0, 0, 0.541); */
    height: 80px;
    width: 100%;
    position: fixed;
    overflow-y: hidden;
    background-color: #00000000;
    background-image: linear-gradient(to bottom, rgba(7, 7, 7, 0.637), rgba(0, 0, 0, 0.093));
    /* backdrop-filter: blur(50px); */
    /* filter: blur(8px); */
    /* pointer-events: none; */
/* backdrop-filter: blur(50px); */
    -webkit-backdrop-filter: blur(50px);
    z-index: 3;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
    /* background: #00000000; */

}

label.logo a {
    color: white;
    /* background: #00000000; */
}

nav ul {
    float: right;
    margin-right: 20px;
    /* background: #00000000; */
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
    /* background: #00000000; */
}

nav ul li a {
    color: white;
    /* background: #00000000; */
    /* font-weight: bolder; */
    font-family: sans-serif;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 100px;
}

a.active,
a:hover {
    /* background: linear-gradient(to right, red, rgb(255, 72, 0)); */
    /* background: rgb(42, 157, 143); */
    background: var(--apple-button);
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.first-div {
    padding-top: 80px;
    height: 100vh;
}

.page {
    min-width: 100vw;
}

#menu-wrapper {
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
}


#menu-wrapper #hamburger-menu {
    position: relative;
    width: 25px;
    height: 20px;
    margin: 15px;
}

#menu-wrapper #hamburger-menu span {
    opacity: 1;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    color: black;
    background-color: white;
    position: absolute;
    transform: rotate(0deg);
    transition: .4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0;
}

#menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 18px;
}
#menu-wrapper #hamburger-menu:hover span:nth-child(1) {
    transform: translateY(9px) rotate(135deg);
}
#menu-wrapper #hamburger-menu:hover span:nth-child(2) {
    transform: translateY(-9px) rotate(-135deg);
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

.first-div {
    /* background-color: #000000; */
    background-color: var(--apple-dark);

}

.intro-text {
    padding-top: 35vh;
    padding-bottom: 20vh;
    background-color: var(--apple-dark);
}

.intro-text h1 {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: clamp(2em, 2vw, 4em);
    font-weight: 400;
    margin: 0px;
    padding: 20px;
    text-align: center;
}

.intro-text h1>.magic {
    display: inline-block;
}

.intro-text h1>.magic>.magic-star {
    --size: clamp(20px, 1.5vw, 30px);

    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
}

.intro-text h1>.magic>.magic-star>svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.7;
}

.intro-text h1>.magic>.magic-star>svg>path {
    fill: var(--violet);
}

.intro-text h1>.magic>.magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right,
            var(--purple),
            var(--violet),
            var(--pink),
            var(--purple));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

body {
    background-color: transparent;

}

.projects {
    background-color: var(--apple-dark);
    color: aliceblue;
    font-family: "Rubik", sans-serif;
    padding: 25px;
    padding-top:35px;
}

.card {
    color: whitesmoke;
    background-color: var(--apple-dark-container);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 30ch;
    min-width: 500px;
    display: inline-block;
    border-radius: 0.6rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.card-big {
    color: whitesmoke;
    background-color: var(--apple-dark-container);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 30ch;
    min-width: 1030px;
    display: inline-block;
    border-radius: 0.6rem;
    overflow: hidden;
    transition: transform 500ms ease;
}


.card-body{
    padding-left: 100px;
}
.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    text-align: right;
    /* background: linear-gradient(hsl(0 0% 0% / 0),
            hsl(20 0% 0% / 0.3) 20%,
            hsl(0 0% 0% / 1)); */
}

.card-body{
    padding-bottom: 10px;
    padding-top: 10px;
}

@media (hover) {
    .card-content {
        transform: translateY(65%);
        transition: transform 500ms ease;
    }

    .card:hover,
    .card:focus-within {
        transform: scale(1.03);
    }

    .card:hover .card-content,
    .card:focus-within .card-content {
        transform: translateY(0%);
    }

    .card:hover .card-content>*:not(.card-title),
    .card:focus-within .card-content>*:not(.card-title) {
        opacity: 1;
        transition: opacity 500ms linear;
    }

    .card-title::after {
        transform: scaleX(0);
    }

    .card-content>*:not(.card-title) {
        opacity: 0;
    }




    .card-big:hover,
    .card-big:focus-within {
        transform: scale(1.03);
    }

    .card-big:hover .card-content,
    .card-big:focus-within .card-content {
        transform: translateY(0%);
    }

    .card-big:hover .card-content>*:not(.card-title),
    .card-big:focus-within .card-content>*:not(.card-title) {
        opacity: 1;
        transition: opacity 500ms linear;
    }
}

.card-title {

    position: relative;
    width: max-content;
    font-size: 20px;
}

.card-main {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    text-align: center;
    display: block;
}

.card-main div {
    margin: 0.7em;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 3px;
    left: calc(var(--padding)* -1);
    left: 0;
    bottom: -2px;
    width: 100%;
    background-color: var(--apple-button);
    transition: transform 500ms ease;
    transition-delay: 500ms;

}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
    transform: scaleX(1)
}

.card:focus-within .card-content {
    transition-duration: 0ms;
}

.card-big:hover .card-title::after,
.card-big:focus-within .card-title::after {
    transform: scaleX(1)
}

.card-big:focus-within .card-content {
    transition-duration: 0ms;
}
.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    background-color: var(--apple-button);
    padding: 0.5em 1.25em;
    border-radius: 0.4em;
}

.button:hover,
.button:focus {
    background-color: var(--apple-button);
}

.side {
    display: grid;
    height: 100vh;
    overflow: hidden;
    place-items: center;
    position: absolute;
    width: 100%;
}

.side .title {
    font-family: "Rubik", sans-serif;
    font-size: 8vw;
    margin: 0px 10vw;
    width: 80vw;
}

.side .fancy {
    font-family: "Lobster", cursive;
    font-size: 1.3em;
    line-height: 0.8em;
}

#left-side {
    background-color: var(--left-color);
    width: 60%;
    z-index: 2;
}

#left-side .title {
    color: white;
}

#left-side .fancy {
    color: var(--right-color);
}

#right-side {
    background-color: var(--right-color);
}

#right-side .title {
    color: var(--dark);
}

#right-side .fancy {
    color: white;
}

@media (max-width:1200px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .intro-text {
        width: 800px;
        text-align: center;
        margin: auto;
    }

    .intro-text h1 {
        margin: auto;
        text-align: center;

    }
}

@media (max-width: 1150px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        /* background: #000000; */
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: linear-gradient(to right, red, rgb(255, 72, 0))
    }

    #check:checked~ul {
        left: 0
    }

}

@media (max-width: 800px) {
    .intro-text {
        width: 100vw;
        text-align: center;
        margin: auto;
    }

    .intro-text h1 {
        margin: auto;
        text-align: center;

    }
}