@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,900,800,500,700,600);

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root{
  --crimson-red: #e34d67;
}

.experiment {
  padding-bottom: 180px;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1000px) {
  .experiment{
    display: none;
  }
  .slider-wrapper{
    width: 0px;
    height: 0px;
    box-shadow: none;
  }
  .slider{
    height: 0px;
  }
  .slide-navigation__squares{
    height: 0px;
  }
  .squares-wrapper{
    height: 0px;
  }
  .squares-slider{
    height: 0px;
  }
  .slides-container{
    height: 0px;
  }
  .slide-wrapper{
    height: 0px;
  }
  .slide-content{
    height: 0px;
  }
  .slider{
    height: 0px;
  }
}

.slider-wrapper {
  position: relative;
  max-width: 90rem;
  min-width: 480px;
  background: var(--apple-dark-container);
  margin: 0 auto;
  overflow: hidden;
  /* box-shadow: 0 0 35px 20px #2b2b2b; */
  box-shadow: 0 0 35px 20px #46464650;
}

.slider-wrapper .slider {
  position: relative;
  height: 65rem;
  padding: 5rem 0;
}

.slider-wrapper .slider::after {
  content: "";
  display: table;
  clear: both;
}

.slider-wrapper .slider .slide-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.slider-wrapper .slide-navigation__squares,
.slider-wrapper .slide-navigation__txt {
  width: 10%;
  position: relative;
  float: left;
  overflow: hidden;
}

.slider-wrapper .slide-navigation__squares::after,
.slider-wrapper .slide-navigation__txt::after {
  content: "";
  display: table;
  clear: both;
}

.slider-wrapper .slide-navigation__txt {
  display: block;
  height: 100%;
}

.slider-wrapper .slide-navigation__txt::after {
  content: "";
  display: table;
  clear: both;
}

.slider-wrapper .slide-navigation__txt ul {
  margin: 0;
  list-style: none;
  padding: 0;
  position: absolute;
  display: table-cell;
  width: 30rem;
  transform: rotate(90deg);
  transform-origin: 0;
  margin-left: calc(50% - 0.14rem);
}

.slider-wrapper .slide-navigation__txt ul::after {
  content: "";
  display: table;
  clear: both;
}

.slider-wrapper .slide-navigation__txt li {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0 1.2rem;
  position: relative;
  float: left;
  font-size: 1.2rem;
  font-weight: 600;
  color: #A1A5B8;
}

.slider-wrapper .slide-navigation__txt li span {
  cursor: pointer;
  transition: all 0.5s ease;
  display: block;
}

.slider-wrapper .slide-navigation__txt li span.active {
  transform: scale(1.1, 1.1);
  color: var(--crimson-red);
}

.slider-wrapper .slide-navigation__squares {
  display: block;
  height: 100%;
}

.slider-wrapper .slide-navigation__squares .squares-wrapper {
  position: absolute;
  margin-left: calc(50% - 0.4rem);
  bottom: 5rem;
  height: 4.6rem;
  overflow: hidden;
}

.slider-wrapper .slide-navigation__squares .squares-slider {
  position: relative;
  display: block;
  margin-top: -2.5rem;
  transform: translateY(-2.5rem);
}

.slider-wrapper .slide-navigation__squares .square {
  width: 0.6rem;
  height: 0.6rem;
  display: block;
  margin: 1.3rem 0;
  background: #A1A5B8;
}

.slider-wrapper .slide-navigation__squares .square.red {
  background: var(--crimson-red);
}

.slider-wrapper .slides-container {
  position: relative;
  width: 80%;
  float: left;
  height: 100%;
}

.slider-wrapper .slide {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 1;
}

.slider-wrapper .slide img {
  max-width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.slider-wrapper .slide .slide-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 5rem 5.8rem;
  overflow: hidden;
}

.slider-wrapper .slide .slide-content h1 {
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  font-size: 10rem;
  text-align: center;
  margin: 0;
  opacity: 0.6;
  position: relative;
}

.slider-wrapper .slide .slide-content h2 {
  color: var(--crimson-red);
  font-size: 4.8rem;
  max-width: 80%;
  margin: 0;
  margin-top: -6rem;
  font-weight: 900;
  line-height: 1;
  position: relative;
}

.slider-wrapper .slide .slide-txt {
  position: relative;
  display: block;
  width: 100;
  margin-top: 6rem;
}

.slider-wrapper .slide .slide-txt::after {
  content: "";
  display: table;
  clear: both;
}

.slider-wrapper .slide .slide-txt p {
  margin: 0;
  max-width: 55%;
  color: #000000;
  font-size: 1.2rem;
  line-height: 1.4;
  float: left;
  font-weight: 500;
  /* background: #d5d5d550; */
  /* background: linear-gradient(to center, rgba(255, 255, 255, 0), #d5d5d550); */
  padding: 10px;
  
}

.shadow{
  box-shadow: 0 0 35px 20px #d5d5d593;
  background-image: linear-gradient(to right, rgba(78, 78, 78, 0.402), #d5d5d550 400px, #00000050 800px);
  background: #d5d5d593;
}
.slider-wrapper .slide .slide-txt button {
  display: block;
  float: right;
  width: 18rem;
  text-align: center;
  background: transparent;
  background-color: transparent;
  border: 0.28rem solid var(--crimson-red);
  text-transform: uppercase;
  padding: 0.8rem 0.5rem;
  font-size: 1.5rem;
  color: var(--crimson-red);
  font-weight: 600;
  letter-spacing: 0.2rem;
  outline: none;
  overflow: hidden;
}
.slider-wrapper .slide .slide-txt button a{
  color: var(--crimson-red);
}
.white{
  background-image: none;
  background: none;
  color:white;
}








@import url(https://fonts.googleapis.com/css?family=Khula:700);
.hidden {
  opacity:0;
}
.console-container{
  padding-top: 100vh;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

@media (max-width: 950px) {
  .console-container{
    font-size: 2.5em;
  }
}

@media (max-width: 600px) {
  .console-container{
    font-size: 2em;
  }
}

@media (max-width: 450px) {
  .console-container{
    font-size: 1.5em;
  }
}